/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 100%;
}

body {
  line-height: 1.5;
  font-family: sans-serif; /* Set a default font-family */
  font-size: 1rem;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

fieldset {
  border: none;
}

abbr[title] {
  text-decoration: underline dotted;
}

blockquote,
q {
  quotes: none;
}

textarea {
  resize: vertical;
}

/* =============== CSS Reset  =============== */

/* =============== Title Container =============== */

/* Default settings for mobile fist design  */
.title-container {
  font-family: "Playfair Display", serif;
  font-size: 1.7rem;
  margin-top: 1rem;
  color: #333;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin: 0.5rem auto;
}

/* Settings for Medium Screen Design */
@media (min-width: 481px) and (max-width: 768px) {
  .title-container {
    font-size: 2.5rem;
    margin-top: 1.5rem;
  }
}

/* Settings for Large Screen Design */
@media (min-width: 768px) {
  .title-container {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* =============== Header Container ===============*/

.hamburger {
  display: none; /* Hide by default */
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  right: 20px;
  top: 15px;
  color: #333;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -100%; /* Hidden off-screen */
  width: 70%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000; /* Ensure it appears above other elements */
  transition: left 0.5s ease;
}

.side-menu ul {
  list-style: none;
  padding: 1rem;
}

.side-menu ul li a {
  color: white;
  font-size: 1.3rem;
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}

.side-menu ul li a:hover {
  color: grey;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .main-header {
    position: relative; /* Make the header a positioning context */
  }
  .side-menu.open {
    left: 0; /* Slide in the menu */
  }
}

