/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 100%;
}

body {
  line-height: 1.5;
  font-family: sans-serif; /* Set a default font-family */
  font-size: 1rem;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

fieldset {
  border: none;
}

abbr[title] {
  text-decoration: underline dotted;
}

blockquote,
q {
  quotes: none;
}

textarea {
  resize: vertical; 
}

/* =============== CSS Reset =============== */

.title-container {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  margin-top: 1rem;
  color: #333;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin: 0.5rem auto;
}

@media (min-width: 481px) and (max-width: 768px) {
  .title-container {
    font-size: 2.5rem;
    margin-top: 1.5rem;
  }
}

@media (min-width: 768px) {
  .title-container {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* =============== Title Container =============== */

.main-header {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: saturate(100%) (20px);
  padding: 1.5rem 0;
  font-family: "Playfair Display", serif;
}

.main-header nav ul {
  display: flex;
  justify-content: center;
  gap: 4rem;
  list-style: none;
}

.main-header nav ul li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.main-header nav ul li a:hover {
  color: #333;
}

/* =============== Cart Container =============== */

.cart-container {
  position: absolute;
  top: 10px;
  right: 4vw;
  color: #333;
  cursor: pointer;
}

.cart-container i {
  font-size: 1.3rem;
  position: relative;
  vertical-align: middle;
}

.cart-container .cart-count {
  color: #333;
  font-size: 1.2rem;
  position: absolute;
  margin-left: 8px;
  font-family: "Playfair Display", serif;
  top: -8px;
  padding: 2px 6px;
}

@media (max-width: 768px) {
  .cart-container {
    right: 5vw; /* Adjust for smaller screens */
  }

  .cart-container i {
    font-size: 1.1rem; /* Adjust icon size for smaller screens */
  }

  .cart-container .cart-count {
    font-size: 1rem; /* Adjust count font size for smaller screens */
  }
}
