/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 100%;
}

body {
  line-height: 1.5;
  font-family: sans-serif; /* Set a default font-family */
  font-size: 1rem;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

fieldset {
  border: none;
}

abbr[title] {
  text-decoration: underline dotted;
}

blockquote,
q {
  quotes: none;
}

textarea {
  resize: vertical;
}

/* =============== CSS Reset  =============== */

/* =============== Title Container =============== */

/* Default settings for mobile fist design  */
.title-container {
  font-family: "Playfair Display", serif;
  font-size: 1.7rem;
  margin-top: 1rem;
  color: #333;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin: 0.5rem auto;
}

/* Settings for Medium Screen Design */
@media (min-width: 481px) and (max-width: 768px) {
  .title-container {
    font-size: 2.5rem;
    margin-top: 1.5rem;
  }
}

/* Settings for Large Screen Design */
@media (min-width: 768px) {
  .title-container {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* =============== Header Container ===============*/

/* Mobile-first styles */
.hamburger {
  display: block; /* Show by default for mobile */
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  right: 20px;
  top: 100px;
  color: #333;
}

.main-header nav {
  display: none; /* Hide the navigation on mobile */
}

.side-menu {
  position: fixed;
  top: 0;
  left: -100%; /* Hidden off-screen by default */
  width: 70%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: saturate(100%) blur(20px);
  z-index: 1000;
  transition: left 0.5s ease;
}

.side-menu ul {
  list-style: none;
  padding: 1.5rem;
}

.side-menu ul li a {
  color: white;
  font-size: 1.3rem;
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}

.side-menu ul li a:hover {
  color: #333;
}

/* Slide in the menu when open */
.side-menu.open {
  left: 0;
}

/* Tablet and larger screens (min-width: 768px) */
@media (min-width: 768px) {
  .hamburger {
    display: none; /* Hide hamburger menu */
  }

  .side-menu {
    display: none; /* Hide side menu for tablet and larger screens */
  }

  .main-header {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: saturate(100%) blur(20px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
    padding: 1.5rem 0;
    font-family: "Playfair Display", serif;
    position: relative;
  }

  .main-header nav {
    display: block;
  }

  .main-header nav ul {
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
  }

  .main-header nav ul li a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .main-header nav ul li a:hover {
    color: #333;
  }
}

@media (min-width: 481px) and (max-width: 840px) {
  .main-header {
    padding: 1rem 0;
  }
  .main-header nav ul {
    gap: 2.5rem;
  }
  .main-header nav ul li a {
    font-size: 1rem;
  }
}

/* ============== DROP-DOWN MENU CSS ===============  */

.dropdown-menu {
  display: none !important;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: saturate(100%) (20px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1px;
  list-style: none;
  margin-top: 2rem;
  width: 9.5rem;
  border-radius: 5px;
}

.dropdown-menu.show {
  display: block !important;
}

.dropdown-menu li {
  display: block;
  padding: 0.5rem 0;
  text-align: left;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.dropdown-menu li a:hover {
  color: grey;
}
